.customized {
    
    // max-width: 90vw;
    position: relative;
    color:rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
   

    .fig-flex {
        // position: absolute;
    }

    a {
        display: none;
    }
    
    h2 {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 700;
        text-transform: uppercase;
        // padding: 0 4rem;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        font-weight: 500;
        color: black;
        margin-bottom: 3rem;
        padding: 0 2rem;
    }

    figcaption {
        float: right;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding-top: auto 0;
        display: flex;
        width: 100px;
        padding-left: 3rem;
        

    }


    .fig-1 {
        display: flex;
        flex-direction: row;
        border-bottom: solid lightgrey 2px;
        // padding-bottom: 1rem;
        // min-width: 100%;
    }

    .fig-1 img {
        max-width:57vw;

    }

    .fig-1 figcaption {
        // transform: translateY(363%);
        // padding-top: 7.5rem;
        // padding-right: 1rem;
    }

    .fig-2 {
        display: flex;
        flex-direction: row;
        border-bottom: solid lightgrey 2px;
        // padding-bottom: 1rem;
    }

    .fig-2 img {
        max-width: 60vw;
    }

    .fig-2 figcaption {
        max-width: 40vw;
        // transform: translateY(200%);
        // padding-top: 2rem;
        // padding-left:0.5rem;
    }

    .fig-3 {
        display: flex;
        flex-direction: row;
        border-bottom: solid lightgrey 2px;
        // padding: 1rem 0;
    }

    .fig-3 figcaption {
        max-width: 40vw;
        // transform: translateY(170%);
        // padding-top: 2rem;
        // padding-left:0.5rem;
    }

    .fig-3 img {
        max-width: 60vw;
    }

    .fig-4 {
        display: flex;
        flex-direction: row;
        // padding-bottom: 2rem;
    }

    .fig-4 figcaption {
        max-width: 40vw;
        // transform: translateY(190%);
        // padding-top: 2.5rem;
        // padding-left:1rem;
    }

    .fig-4 img {
        max-width: 58vw;
    }

    .wave-blue {
        transform: translateY(3px);
    }
    
    @media screen and (min-width: $breakpoint-mobile) {

        h2 {
            color: rgba(21,74,102,255);
        }

        a {
            color: rgb(77, 81, 85);
            text-decoration:underline;
            font-weight: 500;
            align-items: center;
            padding-top: 1rem;
            display: block;
        }

        .fig-1-a {
            padding-top: 2.1rem;
        }

        .wave-blue {
            padding-top: 4rem;
        }

        .fig-flex {
            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;
            align-items:baseline;
            justify-content: space-evenly;

            
        }


        figcaption {
            // float:bottom;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2rem;
            text-align: center;
            color: rgba(0,157,220,255);
            padding: 1.2rem 0 0 0;
            margin-top: 1rem;
            display: flex;
            justify-content: flex-end;

        }

        .fig-1 {
            border: none;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;
            // align-items: flex-end;
            align-items: center;
        }

        .fig-1 img {
            max-width: 15vw;
            padding-bottom: 1rem;
        }

        .fig-1 figcaption {
            // padding-right: 20rem;
        }

        .fig-2 {
            border: none;
            // padding-left: 2rem;
            display: flex;
            flex-direction: column;
            // align-items: flex-end;
            align-items: center;
        }

        .fig-2 figcaption {
            // padding: 0rem 4.5rem 0 0;
            // padding-right: 10rem;
        }

        .fig-2 img {
            max-width: 15vw;
            padding-bottom: 1rem;
        }

        .fig-3 {
            border: none;
            // padding: 0.5rem 1rem 1rem 0;
            display: flex;
            flex-direction: column;
            // align-items: flex-end;
            align-items: center;
        }

        .fig-3 figcaption {
            // padding-right: 1rem;
        }

        .fig-3 img {
            max-width: 15vw;
            padding-bottom: 1rem;
        }

        .fig-4 {
            border: none;
            // padding-left: 3rem;
            display: flex;
            flex-direction: column;
            // align-items: flex-end;
            align-items: center;
        }

        .fig-4 figcaption {
            // padding: 0 1rem 0 0;
        }


        .fig-4 img {
            max-width: 15vw;
            padding-bottom: 1rem;
        }
    }
  


   
   
   
}


 @media (min-width: $breakpoint-tablet) {
        .customized {

            figcaption {
                float:bottom;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.2rem;
                text-align: center;
                color: rgba(0,157,220,255);
                margin-top: 1rem;
            }

        }
        
    }


    @media (min-width: $breakpoint-desktop){
        .customized {
            p {
                padding: 0 17rem;
                // padding: 0 50%;
            }
        }
    }

