

@mixin list-style {
    text-decoration: none;
    color: black;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin position-transition {
    position: absolute;
    transition: all 0.3s ease-in-out;
}