.product-advisor {
  padding: 0 2rem 4rem 2rem;
  @include flex-column;
  background-color: map-get($colors, customized-h2);

  h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: $font-weight-700;
    text-align: center;
    color: map-get($colors, text-color);
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    color: map-get($colors, text-color);
    margin-bottom: 1.8rem;
  }

  hr {
    max-width: $width;
    margin-bottom: 1.4rem;
  }

  .form-flex {
    @include flex-column;
    width: $width;
    align-items: center;
  }

  label {
    color: map-get($colors, text-color);
    margin-bottom: 0.5rem;
    font-weight: $font-weight-500;
  }

  select {
    @include select-input-whw;
    @include select;
  }

  select option {
    font-weight: $font-weight-700;
  }

  input {
    @include select-input-whw;
    color: map-get($colors, text-color);
    background-color: rgba(0, 157, 220, 255);
    border: $border-none;
    margin-top: 1rem;
  }

  .container {
    @include flex-column;
    width: $width;
  }

  .form-input-flex {
    @include flex-row;
    justify-content: center;
  }

  .input-tag {
    @include flex-column;
    align-items: stretch;
    width: $width;
  }

  .container {
    @include flex-column;
  }

  .label-form-flex {
    @include flex-column;
  }

  hr {
    min-width: $width;
  }
}

@media (min-width: $breakpoint-tablet) {
  .product-advisor {
    padding: 0 2rem 4rem 2rem;
    @include flex-column;
    background-color: map-get($colors, secondary-color);

    h2 {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: $font-weight-700;
      text-align: center;
      color: map-get($colors, text-color);
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      color: map-get($colors, primary-color);
      margin-bottom: 1.8rem;
    }

    hr {
      max-width: $width;
      margin-bottom: 1.4rem;
    }

    .form-flex {
      @include flex-column;
      width: $width;
      align-items: center;
    }

    label {
      color: map-get($colors, text-color);
      margin-bottom: 0.5rem;
      font-weight: $font-weight-500;
    }

    select {
      @include select-input-whw;
      @include select;
      background-image: url(/images/down-arrow-blue.png);
    }

    select option {
      font-weight: $font-weight-700;
    }

    input {
      @include select-input-whw;
      color: map-get($colors, text-color);
      background-color: rgba(0, 157, 220, 255);
      border: $border-none;
      margin-top: 1rem;
    }

    .container {
      @include flex-row;
      flex-wrap: wrap;
      width: $width;
      justify-content: space-between;
    }

    .form-input-flex {
      @include flex-row;
      width: $width;
      justify-content: center;
    }

    .input-tag {
      @include flex-column;
      align-items: stretch;
      width: $width;
    }

    .label-form-flex {
      @include flex-column;
      width: 49%;
    }

    hr {
      min-width: $width;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .product-advisor {
    padding: 0 2rem 4rem 2rem;
    @include flex-column;
    background-color: map-get($colors, secondary-color);

    h2 {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: $font-weight-700;
      text-align: center;
      color: map-get($colors, text-color);
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      color: map-get($colors, primary-color);
      margin-bottom: 1.8rem;
    }

    hr {
      max-width: $width;
      margin-bottom: 1.4rem;
    }

    .form-flex {
      @include flex-column;
      width: $width;
      align-items: center;
      flex-wrap: wrap;
    }

    label {
      color: map-get($colors, text-color);
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    select {
      @include select-input-whw;
      min-width: 0;
      width: $width;
      @include select;
      background-image: url(/images/down-arrow-blue.png);
    }

    select option {
      font-weight: $font-weight-700;
    }

    input {
      @include select-input-whw;
      color: map-get($colors, text-color);
      background-color: rgba(0, 157, 220, 255);
      border: $border-none;
      margin-top: 1rem;
    }

    .container {
      @include flex-row;
      flex-wrap: nowrap;
      width: $width;
      justify-content: space-between;
    }

    .form-input-flex {
      @include flex-row;
      width: $width;
      justify-content: center;
    }

    .input-tag {
      @include flex-column;
      align-items: stretch;
      width: $width;
    }

    .label-form-flex {
      @include flex-column;
      align-items: flex-start;
      width: 19%;
    }

    hr {
      min-width: $width;
    }
  }
}
