.product-advisor {


    padding: 0 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #154a66;
   
    
    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: white;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        color: white;
        margin-bottom: 1.8rem;
    }

    hr {
        max-width: 95vw;
        margin-bottom: 1.4rem;
    }

    .form-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    label {
        color: white;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }

    select {
        min-width: 300px;
        min-height: 40px;
        font-weight: 700;
        background-color: lightgrey;
        color: rgb(104, 104, 104);
        margin-bottom: 1.5rem;
        background-image: url(/images/arrow-point-down.png);
        background-repeat: no-repeat;
        background-position-x: 97%;
        background-position-y: 12px;
        padding-left: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    select option {
        font-weight: 700;
    }

        input {
            min-width: 300px;
            min-height: 40px;
            color: white;
            font-weight: 700;
            background-color: rgba(0,157,220,255);
            border: none;
            margin-top: 1rem;
        }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    
       


        .form-input-flex {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

      
        .input-tag {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;

        }

        .container {
            display: flex;
            flex-direction: column;
        }

        .label-form-flex {
            display: flex;
            flex-direction: column;
        }
      

        hr {
            min-width: 100%;
        }



        


}





@media (min-width: $breakpoint-tablet) {


    .product-advisor {


        padding: 0 2rem 4rem 2rem;
        display: flex;
        flex-direction: column;
        background-color: #154a66;
        
        h2 {
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
            color: white;
            margin-bottom: 1rem;
        }
    
        p {
            font-size: 1.5rem;
            text-align: center;
            color: #009ddc;
            margin-bottom: 1.8rem;
        }
    
        hr {
            max-width: 95vw;
            margin-bottom: 1.4rem;
        }
    
        .form-flex {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
    
        label {
            color: white;
            margin-bottom: 0.5rem;
            font-weight: 500;
        }
    
        select {
            min-width: 300px;
            min-height: 40px;
            font-weight: 700;
            background-color: lightgrey;
            color: rgb(104, 104, 104);
            margin-bottom: 1.5rem;
            background-image: url(/images/down-arrow-blue.png);
            background-repeat: no-repeat;
            background-position-x: 97%;
            background-position-y: 12px;
            padding-left: 1rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
    
        select option {
            font-weight: 700;
        }
    
        input {
            min-width: 300px;
            min-height: 40px;
            color: white;
            font-weight: 700;
            background-color: rgba(0,157,220,255);
            border: none;
            margin-top: 1rem;
        }
    
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            width: 100%;
            justify-content: space-between;
        }
    
        
    
        .form-input-flex {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }
    
    
        .input-tag {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
    
        }
    
    
        .label-form-flex {
            display: flex;
            flex-direction: column;
            width: 49%;
        }
           
    
        hr {
            min-width: 100%;
        }
    }

}






@media (min-width: $breakpoint-desktop) {


    .product-advisor {


        padding: 0 2rem 4rem 2rem;
        display: flex;
        flex-direction: column;
        background-color: #154a66;

        h2 {
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
            color: white;
            margin-bottom: 1rem;
        }
    
        p {
            font-size: 1.5rem;
            text-align: center;
            color: #009ddc;
            margin-bottom: 1.8rem;
        }
    
        hr {
            max-width: 95vw;
            margin-bottom: 1.4rem;
        }
    
        .form-flex {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
        }
    
        label {
            color: white;
            margin-bottom: 0.5rem;
            font-weight: 500;
        }
    
        select {
            
            width: 100%;
            min-width: 0;
            font-weight: 700;
            background-color: lightgrey;
            color: rgb(104, 104, 104);
            margin-bottom: 1.5rem;
            background-image: url(/images/down-arrow-blue.png);
            background-repeat: no-repeat;
            background-position-x: 97%;
            background-position-y: 12px;
            padding-left: 1rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
    
        select option {
            font-weight: 700;
        }
    
        input {
            min-width: 300px;
            min-height: 40px;
            color: white;
            font-weight: 700;
            background-color: rgba(0,157,220,255);
            border: none;
            margin-top: 1rem;
        }
    
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;
            width: 100%;
            justify-content: space-between;
        }
    
        
    
        .form-input-flex {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }
    
    
        .input-tag {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
    
        }
    
    
        .label-form-flex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 19%;
        }
           
    
        hr {
            min-width: 100%;
        }
    }

}


