.product-advisor {


    padding: 0 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #154a66;
    // padding: 0 1rem 4rem 1rem;
    
    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: white;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        color: white;
        margin-bottom: 1.8rem;
    }

    hr {
        max-width: 95vw;
        margin-bottom: 1.4rem;
    }

    .form-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    label {
        color: white;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }

    select {
        min-width: 300px;
        min-height: 40px;
        font-weight: 700;
        background-color: lightgrey;
        color: rgb(104, 104, 104);
        margin-bottom: 1.5rem;
        background-image: url(/images/arrow-point-down.png);
        background-repeat: no-repeat;
        background-position-x: 97%;
        background-position-y: 12px;
        padding-left: 1rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    select option {
        font-weight: 700;
    }

        input {
            min-width: 300px;
            min-height: 40px;
            color: white;
            font-weight: 700;
            background-color: rgba(0,157,220,255);
            border: none;
            margin-top: 1rem;
        }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    
       


        .form-input-flex {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

      
        .input-tag {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;

        }

        .container {
            display: flex;
            flex-direction: column;
        }

        .label-form-flex {
            display: flex;
            flex-direction: column;
        }
      

        hr {
            min-width: 100%;
        }



        


}





@media (min-width: $breakpoint-tablet) {


    .product-advisor {


        padding: 0 2rem 4rem 2rem;
        display: flex;
        flex-direction: column;
        background-color: #154a66;
        
        h2 {
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
            color: white;
            margin-bottom: 1rem;
        }
    
        p {
            font-size: 1.5rem;
            text-align: center;
            color: #009ddc;
            margin-bottom: 1.8rem;
        }
    
        hr {
            max-width: 95vw;
            margin-bottom: 1.4rem;
        }
    
        .form-flex {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
    
        label {
            color: white;
            margin-bottom: 0.5rem;
            font-weight: 500;
        }
    
        select {
            min-width: 300px;
            min-height: 40px;
            font-weight: 700;
            background-color: lightgrey;
            color: rgb(104, 104, 104);
            margin-bottom: 1.5rem;
            background-image: url(/images/down-arrow-blue.png);
            background-repeat: no-repeat;
            background-position-x: 97%;
            background-position-y: 12px;
            padding-left: 1rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
    
        select option {
            font-weight: 700;
        }
    
        input {
            min-width: 300px;
            min-height: 40px;
            color: white;
            font-weight: 700;
            background-color: rgba(0,157,220,255);
            border: none;
            margin-top: 1rem;
        }
    
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            width: 100%;
            justify-content: space-between;
        }
    
        
    
        .form-input-flex {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }
    
    
        .input-tag {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
    
        }
    
    
        .label-form-flex {
            display: flex;
            flex-direction: column;
            width: 49%;
        }
           
    
        hr {
            min-width: 100%;
        }
    }

}






@media (min-width: $breakpoint-desktop) {


    .product-advisor {


        padding: 0 2rem 4rem 2rem;
        display: flex;
        flex-direction: column;
        background-color: #154a66;

        h2 {
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
            color: white;
            margin-bottom: 1rem;
        }
    
        p {
            font-size: 1.5rem;
            text-align: center;
            color: #009ddc;
            margin-bottom: 1.8rem;
        }
    
        hr {
            max-width: 95vw;
            margin-bottom: 1.4rem;
        }
    
        .form-flex {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
        }
    
        label {
            color: white;
            margin-bottom: 0.5rem;
            font-weight: 500;
        }
    
        select {
            
            width: 100%;
            min-width: 0;
            font-weight: 700;
            background-color: lightgrey;
            color: rgb(104, 104, 104);
            margin-bottom: 1.5rem;
            background-image: url(/images/down-arrow-blue.png);
            background-repeat: no-repeat;
            background-position-x: 97%;
            background-position-y: 12px;
            padding-left: 1rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
    
        select option {
            font-weight: 700;
        }
    
        input {
            min-width: 300px;
            min-height: 40px;
            color: white;
            font-weight: 700;
            background-color: rgba(0,157,220,255);
            border: none;
            margin-top: 1rem;
        }
    
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;
            width: 100%;
            justify-content: space-between;
        }
    
        
    
        .form-input-flex {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }
    
    
        .input-tag {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
    
        }
    
    
        .label-form-flex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 19%;
        }
           
    
        hr {
            min-width: 100%;
        }
    }

}


// @media (min-width: $breakpoint-tablet) {

//     .product-advisor {

//         select {
//             background-image: url(/images/down-arrow-blue.png);
//             background-repeat: no-repeat;
//             background-position-x: 97%;
//             background-position-y: 12px;
//             font-size: 0.9;
//             font-weight: 700;
//             -webkit-appearance: none;
//             -moz-appearance: none;
//             text-indent: 1px;
//             text-overflow: '';
//         }

//         hr {
//             min-width: 100%;
//         }

//         // .form-flex {
//         //     display: grid;
//         //     grid-template-columns: 1fr 1fr;
//         //     grid-template-rows: repeat(4, 1fr);


//             .product-advisor {
//                 padding: 0 2rem;
//                 display: flex;
//                 flex-direction: column;
        
        
//                 .form-input-flex {
//                     display: flex;
//                     flex-direction: row;
//                     justify-content: center;
//                 }
        
//                 .form-flex {
//                     display: flex;
//                     flex-direction: column;
//                 }
        
//                 .input-tag {
//                     display: flex;
//                     flex-direction: row;
//                 }
        
//                 .container {
//                     display: flex;
//                     flex-direction: row;
//                 }
        
//                 .label-form-flex {
//                     display: flex;
//                     flex-direction: column;
//                 }
//                 // select {
//                 //     width: 100%;
//                 //     max-width: -webkit-fill-available;
//                 //     display: flex;
//                 //     flex-direction: row;
//                 // }
        
//                 hr {
//                     min-width: 100%;
//                 }
        
        
//                 .form-flex {
//                     display: flex;
//                     // grid-template-columns: 1fr 1fr;
//                     // grid-template-rows: repeat(4, 1fr);
        
        
//                     input {
//                         // grid-column: 1 / span 3;
//                         // grid-row: 4/5;
//                         // font-weight: 500;
//                         // max-height: 50px;
//                         // font-size: 1.1rem;
//                     }
        
//                     .select-1 {
//                         // grid-column: 1/2;
//                         // grid-row: 1/2;
//                         // margin-top: 2rem;
//                         // margin-bottom: 1rem;
//                         // margin-right: 0.5rem;
//                     }
        
//                     .label-1 {
//                         // grid-column: 1/2;
//                         // grid-row: 1/2;
//                     }
        
//                     .select-2 {
//                         // grid-column: 2/3;
//                         // grid-row: 1/2;
//                         // margin-top: 2rem;
//                         // margin-bottom: 1rem;
//                         // margin-left: 0.5rem;
//                     }
        
//                     .label-2 {
//                         // grid-column: 2/3;
//                         // grid-row: 1/2;
//                         // margin-left: 0.5rem;
//                     }
        
//                     .select-3 {
//                         // grid-column: 1/2;
//                         // grid-row: 2/3;
//                         // margin-top: 2rem;
//                         // margin-bottom: 1rem;
//                         // margin-right: 0.5rem;
//                     }
        
//                     .label-3 {
//                         // grid-column: 1/2;
//                         // grid-row: 2/3;
//                     }
        
//                     .select-4 {
//                         // grid-column: 2/3;
//                         // grid-row: 2/3;
//                         // margin-top: 2rem;
//                         // margin-bottom: 1rem;
//                         // margin-left: 0.5rem;
//                     }
        
//                     .label-4 {
//                         // grid-column: 2/3;
//                         // grid-row: 2/3;
//                         // margin-left: 0.5rem;
//                     }
        
//                     .select-5 {
//                         // grid-column: 1/2;
//                         // grid-row: 3/4;
//                         // margin-top: 2rem;
//                         // margin-bottom: 1rem;
//                         // margin-right: 0.5rem;
//                     }
        
//                     .label-5 {
//                         // grid-column: 1/2;
//                         // grid-row: 3/4;
//                     }
        
//                 }




//             // input {
//             //     grid-column: 1 / span 3;
//             //     grid-row: 4/5;
//             //     font-weight: 500;
//             //     max-height: 50px;
//             //     font-size: 1.1rem;
//             // }

//             // .select-1 {
//             //     grid-column: 1/2;
//             //     grid-row: 1/2;
//             //     margin-top: 2rem;
//             //     margin-bottom: 1rem;
//             //     margin-right: 0.5rem;
//             // }

//             // .label-1 {
//             //     grid-column: 1/2;
//             //     grid-row: 1/2;
//             // }

//             // .select-2 {
//             //     grid-column: 2/3;
//             //     grid-row: 1/2;
//             //     margin-top: 2rem;
//             //     margin-bottom: 1rem;
//             //     margin-left: 0.5rem;
//             // }

//             // .label-2 {
//             //     grid-column: 2/3;
//             //     grid-row: 1/2;
//             //     margin-left: 0.5rem;
//             // }

//             // .select-3 {
//             //     grid-column: 1/2;
//             //     grid-row: 2/3;
//             //     margin-top: 2rem;
//             //     margin-bottom: 1rem;
//             //     margin-right: 0.5rem;
//             // }

//             // .label-3 {
//             //     grid-column: 1/2;
//             //     grid-row: 2/3;
//             // }

//             // .select-4 {
//             //     grid-column: 2/3;
//             //     grid-row: 2/3;
//             //     margin-top: 2rem;
//             //     margin-bottom: 1rem;
//             //     margin-left: 0.5rem;
//             // }

//             // .label-4 {
//             //     grid-column: 2/3;
//             //     grid-row: 2/3;
//             //     margin-left: 0.5rem;
//             // }

//             // .select-5 {
//             //     grid-column: 1/2;
//             //     grid-row: 3/4;
//             //     margin-top: 2rem;
//             //     margin-bottom: 1rem;
//             //     margin-right: 0.5rem;
//             // }

//             // .label-5 {
//             //     grid-column: 1/2;
//             //     grid-row: 3/4;
//             // }

//         // }

//         h2 {

//             font-size: 1.8rem;
//         }

//         p {
//             color: rgb(55, 165, 224);
//             font-weight: 400;
//             font-size: 1.5rem;
//         }
//     }

// }


// @media (min-width: $breakpoint-desktop) {
    
//     .product-advisor {
//         padding: 0 2rem;
//         display: flex;
//         flex-direction: column;


//         .form-input-flex {
//             display: flex;
//             flex-direction: row;
//             justify-content: center;
//         }

//         .form-flex {
//             display: flex;
//             flex-direction: column;
//         }

//         .input-tag {
//             display: flex;
//             flex-direction: row;
//         }

//         .container {
//             display: flex;
//             flex-direction: row;
//         }

//         .label-form-flex {
//             display: flex;
//             flex-direction: column;
//         }
//         // select {
//         //     width: 100%;
//         //     max-width: -webkit-fill-available;
//         //     display: flex;
//         //     flex-direction: row;
//         // }

//         hr {
//             min-width: 100%;
//         }


//         .form-flex {
//             display: flex;
//             // grid-template-columns: 1fr 1fr;
//             // grid-template-rows: repeat(4, 1fr);


//             input {
//                 // grid-column: 1 / span 3;
//                 // grid-row: 4/5;
//                 // font-weight: 500;
//                 // max-height: 50px;
//                 // font-size: 1.1rem;
//             }

//             .select-1 {
//                 // grid-column: 1/2;
//                 // grid-row: 1/2;
//                 // margin-top: 2rem;
//                 // margin-bottom: 1rem;
//                 // margin-right: 0.5rem;
//             }

//             .label-1 {
//                 // grid-column: 1/2;
//                 // grid-row: 1/2;
//             }

//             .select-2 {
//                 // grid-column: 2/3;
//                 // grid-row: 1/2;
//                 // margin-top: 2rem;
//                 // margin-bottom: 1rem;
//                 // margin-left: 0.5rem;
//             }

//             .label-2 {
//                 // grid-column: 2/3;
//                 // grid-row: 1/2;
//                 // margin-left: 0.5rem;
//             }

//             .select-3 {
//                 // grid-column: 1/2;
//                 // grid-row: 2/3;
//                 // margin-top: 2rem;
//                 // margin-bottom: 1rem;
//                 // margin-right: 0.5rem;
//             }

//             .label-3 {
//                 // grid-column: 1/2;
//                 // grid-row: 2/3;
//             }

//                 // margin-left: 0.5rem;
//             }

//             .select-5 {
//                 // grid-column: 1/2;
//                 // grid-row: 3/4;
//                 // margin-top: 2rem;
//                 // margin-bottom: 1rem;
//                 // margin-right: 0.5rem;
//             }
//        .select-4 {
//                 // grid-column: 2/3;
//                 // grid-row: 2/3;
//                 // margin-top: 2rem;
//                 // margin-bottom: 1rem;
//                 // margin-left: 0.5rem;
//             }

//             .label-4 {
//                 // grid-column: 2/3;
//                 // grid-row: 2/3;
     
//             .label-5 {
//                 // grid-column: 1/2;
//                 // grid-row: 3/4;
//             }

//         }

//         // .form-input-flex {
//         //     display: flex;
//         //     flex-direction: column;
//         // }


//         // .form-flex {

//         //     display: flex;
//         //     flex-direction: row;
//         //     width: 100%;

//         // }
            
            
        
          


//         // .input-tag {
//         //     display: flex;
//         //     flex-direction: row;
//         //     width: 100%;
//         // }

            

        

//     }

// }