//font family
 $heading-font: 'Roboto Condensed', sans-serif;
 $body-content-font: 'Roboto', sans-serif;

 //media query breakpoints
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1600px;